.conteiner {
    width: 100%;
}

.divUl{
    display: flex;
    width: 100%;
    justify-content: center;
}

.ul {
    display: flex;
    gap: 11px;
}

.li{
    list-style: none;
}

.li button {
    width: 40px;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.5);
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 605px) {
    .divUl{
        width: 100%;
    }
}

@media only screen and (max-width: 497px) {
    .divUl{
        width: 90%;
    }

    .li button {
        width: 28px;
        height: 30px;
    }

    .ul {
        display: flex;
        gap: 6px;
    }
}

@media only screen and (max-width: 363px) {
    .divUl{
        width: 90%;
    }

    .ul {
        display: flex;
        gap: 3px;
    }

    .li button {
        width: 28px;
        height: 30px;
        font-size: 0.7rem;
    }

    .conteiner {
        width: 100%;
    }
}