.conteiner {
    width: 100%;
}

.divUl{
    display: flex;
    width: 100%;
    justify-content: center;
}

.ul {
    display: flex;
    justify-content: center;
    gap: 2%;
    width: 80%;
}

.li{
    list-style: none;
    width: 30px;
    height: 30px;
}

.li button , .index {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 5px 5px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.5);
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.index {
    background-color: rgba(255, 255, 255, 0.985) !important;
    border: 2px solid var(--primary) !important;
    color: black !important;
}

@media only screen and (max-width: 605px) {
    .divUl{
        width: 100%;
    }
}

@media only screen and (max-width: 497px) {
    .divUl{
        width: 90%;
    }

    .li {
        width: 25px;
        height: 25px;
    }

    .ul {
        display: flex;
        gap: 6px;
    }
}

@media only screen and (max-width: 363px) {
    .divUl{
        width: 90%;
    }

    .ul {
        display: flex;
        gap: 3px;
    }

    .li button {
        width: 20px;
        height: 20px;
        font-size: 0.5rem;
    }

    .conteiner {
        width: 100%;
    }
}